body {
  font-family: 'Arial Black', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('background.jpg') center/cover no-repeat; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenido {
  text-align: center;
  margin: 50px;
  color de fondo: rgba(255, 255, 255, 0,4); 
  acolchado: 20px;
  radio fronterizo: 10px;
  acolchado: 20px;
  

}

h1 {
  color: #007bff;
  tipografía: negrita;
  tamaño fuente: 2.5em;
}
h2 {
  color: #833AB4;
  tipografía: negrita;
  tamaño fuente: 2em;
}
p {
  color: #833AB4;
  tamaño fuente: 1.5em;


}
p1 {
  color: #007bff;
  tamaño fuente: 1.5em;


}


@medios sólo pantalla y (ancho máximo: 767px) {
 cuerpo {
    fondo adjunto: fijo; 
  }
}
. .pie de página {
  posición: fijo;
  abajo: 0;
  izquierda: 0;
  ancho: 100%;
  color de fondo: #808080;
  acolchado: 10px;
  texto alineado: centro;
  color: #fff; 
  fuente: 100% arial, sans-serif;
}



